@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

html{
    font-family: 'Roboto Condensed';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-image: linear-gradient(
      rgba(0, 2, 100, 0.7), 
      rgba(0, 2, 100, 0.7)
    ),
    url(img/737-2880x1920.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 30%;
    height: 70%;
    background: rgba(128, 128, 128,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    color: white;
}


.container form input{
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    width: 80%;
    background: rgba(128, 128, 128,0.5);
    color: white;
}

.container form input::placeholder{
    color: white;
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.container form button{
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    width: 80%;
    background: royalblue;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container form a{
    color: white;
    text-decoration: none;
}