*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav: #e6fcff;
    --hover: #62c5d8;
    --by: #1f49ae;
    --text-nay: #131b1f;
    --tags: #7f83a7;
}

nav {
    background-color: white;
    font-size: 1.2rem;
    height: 80px;
    line-height: 40px;
}

nav .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

.logo{
    height: 45px;
    width: 170px;
    background-image: url(img/logo.svg);
    background-size: cover;
    margin-top: 20px;
    cursor: pointer;
}

ul{
    list-style:none;
}

.nav > li {
    float:left;
    padding:0px 12px;
}

li a {
    text-decoration:none;
    color: black;
}
li .btn{
    border: solid 3px var(--hover);
    padding: 10px 8px;
    color: var(--hover);
    font-size: 1rem;
    border-radius: 5px;
}

li span {
    font-size: 0.7rem;
}

.sub-nav-container{
    display: flex;
    justify-content: space-around;
    background: var(--nav);
    box-shadow: 0px -3px 11px 0px rgba(0,0,0,0.47);
    gap: 180px;
    font-size: 0.8rem;

}

.sub-nav-container .sub-nav-items{
    display: flex;
    gap: 50px;
}

.sub-nav-container .sub-nav-items a{
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}

.sub-nav-container .sub-nav-items .fas{
    color: var(--text)
}

.main-container{
    display: flex;
    width: 78%;
    margin: auto;
    padding-top: 120px;
}

.main-container .main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-container .main img{
    width: 80%;
}

.main-container .main .info{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-container .main .info .tags{
    font-size: 0.6rem;
    color: var(--tags);
}

.main-container .main .info p{
    font-size: 0.9rem;
}

.main-container .main .info span{
    color: var(--by);
    font-weight: bold;
}

.main-container .articles-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-container .articles-container h4{
    padding: 0px 16px;
}

.main-container .articles-container .article{
    border: solid rgba(98, 197, 216 , 0.2);
    padding: 20px 16px;
    border-radius: 10px;
}

.main-container .articles-container .article p{
    padding-bottom: 8px;
    font-size: 0.7rem;
}

.main-container .articles-container .article h2{
    font-size: 1rem;
}

.cards-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cards-section .title{
    padding-left: 135px;
}

.cards-section .cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cards-section .cards-container .card{
    gap: 10px;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.cards-section .cards-container .card img{
    width: 100%;
}

.cards-section .cards-container .card .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-section .cards-container .card .info .tags{
    font-size: 0.7rem;
}

.cards-section .cards-container .card .info p{

}

.cards-section .cards-container .card .info h2{
    width: 95%;
}

@media screen and (max-width:1024px){
    .main-container {
        flex-wrap: wrap;
        width: 100%;
    }

    .main-container .main {
        align-items: center;
    }

    .main-container .articles-container {
        margin: auto;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-container .articles-container h4{
        padding: 0px 0px;
    }
    
    .sub-nav-container {
        gap: 0;
    }

    .cards-section .cards-container .card .info h2 {
        width: 100%;
        font-size: 1.2rem;
    }

    .cards-section .title {
        padding-left: 90px;
    }
}